
.wrapper {
	display: flex;
}

.container {
	width: 100%;
}


.responsive_table {
	height: 100%;

	li {
		border-radius: 3px;
		padding: 20px 25px;
		font-size: 15px;
		display: grid;
		grid-template-columns: repeat(4, 2fr) repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		margin-bottom: 15px;
		text-align: center;
	}

	&__header {
		background-color: #95A5A6;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		display: flex;
		align-items: center;
		text-align: center;

		h3 {
			font-size: 13px;
		}

		div {
			display: flex;
			align-items: center;
			justify-content: center;

			.sorting {
				display: flex;
				flex-direction: column;
				margin-right: 5px;
				cursor: pointer;
			}
		}
	}

	&__filters {
		background-color: #ffffff;
		box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

		div {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		input {
			width: 130px;
			border: none;
			outline: none;
			border-bottom: 2px solid #95A5A6;
			font-size: 14px;

			&::placeholder {
				font-size: 11px;
			}
		}

		.inputPrice {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			input {
				width: 40%;
			}
		}
	}

	&__row {
		background-color: #ffffff;
		box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);

		&:hover {
			background-color: #f9f9f9f9;
			cursor: pointer;
		}
	}

	.notFound {
		display: flex;
		margin-top: 20px;
		flex-direction: column;
		align-items: center;
		font-size: 22px;
	}
}


.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 300px;
	background-color: #95A5A6;
	color: #f9f9f9f9;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	transition: all 0.1s;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	top: 100%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	transition: all 0.1s;
}

.active {
	color: white;
}
