.lots-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    /* background-color: aquamarine; */
  }


.pagination-body {
  /* table-layout: fixed; */
  width: 100%;
  margin: 0 50%;
  /* float: left; */
  background-color: bisque;
}

.page-content-wrapper {
  position: absolute;
  top: 32px;
  left: 0;
  overflow: auto;
}




